<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$invoiceId = $block->getInvoiceDetails();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$baseUrl = $storeManager->getStore()->getBaseUrl();
?>
<div class="actions">
    <?php  $_order = $block->getOrder() ;?>
    <a class="action print"
       href="<?php echo $baseUrl.'invoicepdf/download/downloadinvoice/invoice_id/'.$invoiceId ?>"
       onclick="this.target='_blank';">
        <span><?= /* @escapeNotVerified */ __('Print Order In Pdf') ?></span>
    </a>
    <?= $block->getChildHtml() ?>
</div>
</br>
</br>
